<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    
    <assembly name="ControlDependencia"/>
    <namespace name="ControlDependencia"/>

    <assembly name="Dominio"/>
    <namespace name="Dominio"/>

    <assembly name="Persistencia"/>
    <namespace name="Persistencia"/>

    <assembly name="Servicio"/>
    <namespace name="Servicio"/>

    <assembly name="Modelo"/>
    <namespace name="Modelo"/>
    
    <container>
      <register type="IControlador" mapTo ="Controlador"/>
      <register type="IUnitOfWork" mapTo ="UnitOfWork"/>
      <register type="IConexion" mapTo ="Conexion"/>
      <!--Repositorios-->
      <!--<register type="IRepositorio[Adjunto]" mapTo ="Repositorio[Adjunto]"/>
      <register type="IRepositorio[Cuenta]" mapTo ="Repositorio[Cuenta]"/>
      <register type="IRepositorio[DireccionCorreo]" mapTo ="Repositorio[DireccionCorreo]"/>
      <register type="IRepositorio[Servidor]" mapTo ="Repositorio[Servidor]"/>
      <register type="IRepositorio[Completo]" mapTo ="Repositorio[Completo]"/>-->
    </container>
  </unity>
</configuration>