<?xml version="1.0" encoding="utf-8"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

  <assembly name="Dominio"/>
  <namespace name="Dominio"/>

  <alias alias="IControlador" type="ControlDependencia.Dominio.IControlador,ControlDependencia" />
  <alias alias="Controlador" type="Controlador" />

  <container>
    <register type="IControlador" mapTo="Controlador">
      <lifetime type="singleton"/>
    </register>
  </container>

  
  <!--Assemblies-->
  <!--

  <assembly name="ControlDependencia"/>
  <assembly name="Dominio"/>
  <assembly name="Persistencia"/>
  <assembly name="Servicio"/>
  <assembly name="Modelo"/>


  -->
  <!--Namespaces-->
  <!--


  <namespace name="ControlDependencia"/>
  <namespace name="ControlDependencia.Dominio"/>
  <namespace name="ControlDependencia.Persistencia"/>
  <namespace name="ControlDependencia.Servicio"/>
  <namespace name="ControlDependencia.Utilidades"/>


  <namespace name="Dominio"/>
  <namespace name="Dominio.Repositorios"/>

  <namespace name="Persistencia"/>

  <namespace name="Servicio"/>

  <namespace name="Modelo"/>-->


  <!--TypeAliases-->

  <!--<typeAliases>-->

    <!--Interfaces-->

    <!--<typeAlias alias="IControlador" type="ControlDependencia.Dominio.IControlador,ControlDependencia" />
    <typeAlias alias="IUnitOfWork" type="IUnitOfWork"/>
    <typeAlias alias="IServicio" type="IServicio" />


    <typeAlias alias="IRepositorioServidor" type="IRepositorio`1[[Servidor]]" />

    <typeAlias alias="IRepositorioCuenta" type="IRepositorio`1[[Cuenta]]" />
    <typeAlias alias="IRepositorioMensaje" type="IRepositorio`1[[Mensaje]]" />
    <typeAlias alias="IRepositorioAdjunto" type="IRepositorio`1[[Adjunto]]" />
    <typeAlias alias="IRepositorioDireccionCorreo" type="IRepositorio`1[[DireccionCorreo]]"/>-->


    <!--Implementaciones Concretas-->


    <!--<typeAlias alias="ControladorDominio" type="Dominio.Controlador,Dominio" />

    <typeAlias alias="UnitOfWork" type="UnitOfWork" />
    <typeAlias alias="Servicio" type="Servicio" />


    <typeAlias alias="RepositorioServidor" type="Repositorio`1[[Servidor]]" />

    <typeAlias alias="RepositorioCuenta" type="Repositorio`1[[Cuenta]]" />
    <typeAlias alias="RepositorioMensaje" type="Repositorio`1[[Mensaje]]" />
    <typeAlias alias="RepositorioAdjunto" type="Repositorio`1[[Adjunto]]" />
    <typeAlias alias="RepositorioDireccionCorreo" type="Repositorio`1[[DireccionCorreo]]"/>-->

  <!--</typeAliases>-->


  
    <!--<container>-->

      <!--Mapeo de referencias-->


      <!--<register type="IControlador" mapTo="ControladorDominio">
        <lifetime type="singleton"/>
      </register>

      <register type="IUnitOfWork" mapTo="UnitOfWork">
        <lifetime type="singleton"/>
      </register>

      <register type="IServicio" mapTo="Servicio">
        <lifetime type="singleton"/>
      </register>


      <register type="IRepositorioServidor" mapTo="RepositorioServidor">
        <lifetime type="singleton"/>
      </register>


      <register type="IRepositorioCuenta" mapTo="RepositorioCuenta">
        <lifetime type="singleton"/>
      </register>

      <register type="IRepositorioMensaje" mapTo="RepositorioMensaje">
        <lifetime type="singleton"/>
      </register>

      <register type="IRepositorioAdjunto" mapTo="RepositorioAdjunto">
        <lifetime type="singleton"/>
      </register>

      <register type="IRepositorioDireccionCorreo" mapTo="RepositorioDireccionCorreo">
        <lifetime type="singleton"/>
      </register>-->

    <!--</container>-->

</unity>
