<?xml version="1.0" encoding="utf-8" ?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

  <assembly name="ControlDependencia"/>
  <namespace name="ControlDependencia"/>

  <assembly name="Dominio"/>
  <namespace name="Dominio"/>

  <assembly name="Persistencia"/>
  <namespace name="Persistencia"/>

  <assembly name="Servicio"/>
  <namespace name="Servicio"/>

  <assembly name="Modelo"/>
  <namespace name="Modelo"/>

  <typeAliases>
    <!--Interfaces-->
    <typeAlias alias="IControlador" type="IControlador" />
    <typeAlias alias="IUnitOfWork" type="IUnitOfWork"/>
    <typeAlias alias="IServicio" type="IServicio" />

    <!--Implementaciones Concretas-->
    <typeAlias alias="Controlador" type="Controlador" />
    <typeAlias alias="UnitOfWork" type="UnitOfWork" />
    <typeAlias alias="Servicio" type="Servicio" />

  </typeAliases>

  <container>
    <!-- Mapeo de referencias -->
    
    <register type="IControlador" mapTo="Controlador">
      <lifetime type="singleton"/>
    </register>

    <register type="IUnitOfWork" mapTo="UnitOfWork">
      <lifetime type="singleton"/>
    </register>

    <register type="IServicio" mapTo="Servicio">
      <lifetime type="singleton"/>
    </register>
  
  </container>

</unity>